<%- include('partials/head') %>



    <%- include('partials/navbar') %>
        <section>
            <div class="telegram bg-primary">
                <div class="text-center">
                    <p class="tele-info">If cookies are not working, then join telegram <a class="tele-link"
                            href="/">Join Now</a>
                    </p>
                </div>
            </div>

        </section>

        <div class="row p-3">
            <div class="col-sm-12 col-md-9">
                <h2>
                    Udemy Premium Cookies 2023 Just Updated

                </h2>
                <p>Updated on 28 July 2023</p>
                <img src="https://cdn.cookielaw.org/logos/c7d0d27d-e055-4572-8927-d3c994df5f60/3275d2bc-df67-4c87-81ed-bdfb982b90c2/a3df5d54-4eba-4aeb-9fb3-189c22118d8c/udemy-logo.png"
                    alt="" style="width: 100%;">
                <p>Udemy is an online learning platform that offers a wide range of courses taught by expert
                    instructors.</p>
                <h2>How to Use Cookies in Google Chrome or any another Browser</h2>
                <p>Step:1 Firstly, you need to download chrome extension <a
                        href="https://chrome.google.com/webstore/detail/cookie-editor/hlkenndednhfkekhgcdicdfddnkalmdm">By
                        Clicking Here</a></p>
                <p>Step:2 First Copy the cookies of your desired website by visitng <a href="">getCookies</a></p>
                <p>Step:3 Now Visit your desired website of which you have copied cookies and click on extension logo
                    in address bar and click on cookie editor.</p>
                <img src="/img/step3.png" style="width: 100%;">
                <p>Step:4 Now Click on delete All Button</p>
                <img src="/img/step4.png" style="width: 100%;">
                <p>Step:5 Now CLick on Import Button next to delete all button</p>
                <p>Step:6 Now Paste (CTRL+V) on in the box and click import button</p>
                <img src="/img/step6.png" style="width: 100%;">
                <p>Now Refresh the website by pressing F5 Key or by right click</p>
                <section>
                    <div class="telegram bg-primary">
                        <div class="text-center">
                            <p class="tele-info">If cookies are not working, then join telegram <a class="tele-link"
                                    href="/">Join</a>
                            </p>
                        </div>
                    </div>
        
                </section>      
                <h3>Get Latest Updated Udemy Cookies</h3>
                <a href="" class="text-center"><h2>Click Here</h2></a>        
                
            </div>
            <div class="col-sm-12 col-md-3">
                <h3>Advertisement</h3>
                <div class="card" style="height: 300px;">

                    <div class="card-body">


                    </div>
                </div>
                <div class="card" style="height: 300px;">

                    <div class="card-body">


                    </div>



                </div>
                
                <div class="card" style="height: 300px;">

                    <div class="card-body">


                    </div>



                </div>
            </div>
        </div>








        </body>
        <%- include('partials/footer') %>

            </html>