<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to use cookies</title>
</head>
<body>
    <h1>How to Use Cookies in Google Chrome or any another Browser</h1>
    <h2>Step:1 Firstly, you need to download chrome extension <a href="https://chrome.google.com/webstore/detail/cookie-editor/hlkenndednhfkekhgcdicdfddnkalmdm">By Clicking Here</a></h2>
    <h2>Step:2 First Copy the cookies of your desired website by visitng <a href="">getCookies</a></h2>
    <h2>Step:3 Now Visit your desired website of which you have copied cookies and click on extension logo in address bar and click on cookie editor.</h2>
    <img src="partials/step3.png">
    <h2>Step:4 Now Click on delete All Button</h2>
    <img src="partials/step4.PNG" alt="">
    <h2>Step:5 Now CLick on Import Button next to delete all button</h2>
    <h2>Step:6 Now Paste (CTRL+V) on in the box and click import button</h2>
    <img src="partials/step6.PNG" alt="">
    <h2>Now Refresh the website by pressing F5 Key or by right click</h2>
</body>
</html>