<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getCookies</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">getCookies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/udemy">Udemy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/coursera">Coursera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/netflix">Netflix</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/educative">Educative</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row p-3">
      <div class="col-sm-12 col-md-7">
          <h3>
              Cookies

			  <div class="text-center">
                <div id="ctimer" class="text-center">
                    <h2>10</h2>

                </div>
                    </div>
          </h3>
          <textarea style="width: 100%" rows="50" id="cookies">
                {{cookies}}
          </textarea>

      </div>
      <div class="col-sm-12 col-md-5">
            <h3>Advertisement</h3>
                <div class="card" style="height: 300px;">

                    <div class="card-body">




                    </div>



                </div>

                <div class="card" style="height: 300px;">

                    <div class="card-body">





                    </div>



                </div>
      </div>


  </div>
  	<script>
		var sec = 10;
		var x = setInterval(function () {

                document.getElementById('ctimer').innerText = sec;
                sec--;
                if (sec < 0) {
                    clearInterval(x)
                    document.getElementById('ctimer').remove()
                    document.getElementById('cookies').style.display = 'block'
                    
                
                }
            }, 1000)
	</script>
        </body>

<footer>
    <div class="footer">
        <p>Copyright © 2023 getCookies.com Managed By ATOS</p>

    </div>

</footer>

            </html>
