<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getCookies</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">getCookies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/udemy">Udemy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/">Coursera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/">Netflix</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/">Crounchy Roll</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <section>
      <div class="home">
        <div>

          <h1 class="brand">Premium Cookies</h1>
          <h3>#NeverPayForPremium</h3>
          <p style="font-weight: 600;">Access premium content without paying for it.</p>
        </div>
      </div>

    </section>
    <section>
      <div class="telegram bg-primary row ">
        <div class="text-center">
          <p class="tele-info">If cookies are not working, then join telegram <a class="tele-link" href="https://t.me/get_cookies">Join Now</a>
          </p>
        </div>
      </div>

    <script async="async" data-cfasync="false" src="//pl20434654.highcpmrevenuegate.com/04de70d828de32c943c208e94da561b7/invoke.js"></script>
<div id="container-04de70d828de32c943c208e94da561b7"></div>
    </section>
    <div class="row p-3">
      <div class="col-sm-12 col-md-9">
        {% for item in list %}
          <div class="row p-3 text-center">
            <div class="col-sm-12 col-md-3">
              <img class="card-img" src="{{ item['img_url'] }}" alt="Aaman">
            </div>
            <div class="col-sm-12 col-md-9">
              <a href="/udemy">
                <h2>
                  {{ item['name']}}
                </h2>
              </a>
              <p>
                {{ item['info']}}
              </p>
            </div>
          </div>
          {% endfor %}

      </div>
      <div class="col-sm-12 col-md-3">
        <h3>Advertisement</h3>
        <div class="card" style="height: 300px;">

          <div class="card-body">
              <script type="text/javascript">
	          atOptions = {
		'key' : 'd2ada38db34e000c2dd773c866d3899c',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitablecreativeformat.com/d2ada38db34e000c2dd773c866d3899c/invoke.js"></scr' + 'ipt>');
</script>
          </div>
        </div>
        <div class="card" style="height: 300px;">

          <div class="card-body">
          <script type="text/javascript">
	atOptions = {
		'key' : 'd2ada38db34e000c2dd773c866d3899c',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitablecreativeformat.com/d2ada38db34e000c2dd773c866d3899c/invoke.js"></scr' + 'ipt>');
</script>

          </div>



        </div>

      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script type='text/javascript' src='//pl20427865.highcpmrevenuegate.com/71/4d/c1/714dc1d155d4960c5e886435222c0b18.js'></script>

</body>

<footer>
    <div class="footer">
        <p>Copyright © 2023 getCookies.com Managed By ATOS</p>

    </div>

</footer>

      </html>